@import url('https://fonts.googleapis.com/css2?family=Cocogoose:wght@700&display=swap');

body {
    font-family: 'Cocogoose', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2274A5; /* Dark Blue */
    color: #FFFFFF; /* White */
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #CAE5FF; /* Dark Blue */
    z-index: -1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    
    z-index: -1;
}

.content {
    text-align: center;
    color: #FFFFFF; /* White */
    animation: fadeIn 2s ease-in-out;
}

.logo h1 {
    font-size: 3.5em; /* Larger logo */
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.logo p {
    font-size: 1.2em;
    margin: 5px 0 20px;
}

.login-signup {
    background: rgba(255, 255, 255, 0.9); /* Light background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

.form-container {
    animation: slideIn 1s ease-in-out;
}

h1{
    color: #2274A5; /* Green */
}

p {
    font-family: "Shadows Into Light Two", serif;
    color:#2274A5
    

}
h2 {
    margin-bottom: 20px;
    color: #2CA58D; /* Green */
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2CA58D; /* Green */
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background: #F46197; /* Pink */
    color: white;
    border: none;
    padding: 15px; /* Larger button */
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    font-size: 1.2em; /* Larger font size */
}

button:hover {
    background: #e04b80; /* Darker Pink */
    transform: scale(1.1);
}
h1 {
    font-family: "Lacquer", serif;
    font-weight: 200;
    font-size:large;
  }
a {
    color: #2CA58D; /* Green */
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}